{% extends "base.html" %}

{% from "macros.html" import form_field %}

{% block content %}
<form id="login-form" method="POST" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label(class="control-label") }}
        {{ form.username(class="form-control", placeholder="Email") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="control-label") }}
        {{ form.password(class="form-control", placeholder="Password") }}
    </div>
    <div class="form-group">
        <label></label>
        <input id="login" class="btn btn-primary" type="submit" value="Login" />
    </div>
</form>

{% endblock %}

