html, body {
  font-family       : sans-serif;
}
.gerber-container {
    position        : relative;
    border          : 1px solid #ddd;
}
.gerber-container img {
    position        : absolute;
    top             : 0;
    left            : 0;
}
#login-form {
    max-width       : 350px;
    margin          : 0 auto;
}
#gerber-form {
    max-width       : 700px;
}

